<h1>Userlist</h1>
<p>Anzahl Benutzer: <%=User.count%></p>
<p>Name des 1. Benutzers in der Datenbank:	<%=User.first.name%> </P>
<%u=User.first%>
<p> Email des 1. Benutzers in der Datenbank: <%=u.email%></p>
  <p> Alter des 1. Benutzers in der Datenbank: <%=u.age%></p>

<br>
<ol>
  <% User.all.each do |u|%>
    <li> <%=u.name%></li>
    <p>Email: <a href="mailto:<%=u.email%>"><%=u.email%></a></p>
    <li><%=u.age%></li>

  <% end %>
</ol>
